<h1> Rule</h1>

<body>
    <button (click)="create()">Create</button>
    <app-rule-form *ngIf="selectedRule" [dayList]="dayList"
     [form]="selectedRule" (save)="save($event)">
    </app-rule-form>
    <div *ngIf="isLoading$|async">Loading...</div>
    <div *ngIf="isLoading$|async">Some error happend...</div>

    <div class="container" *ngIf="rules$ | async">
        <app-rule-list *ngFor="let rule of (rules$ | async).rule"
         [vm]="rule" [dayList]="dayList"
         (selected)="selectRule(rule)" (deleted)="deleteRule(rule)"
         >
        </app-rule-list>
    </div>
</body>